html {
    font-family: Arial, sans-serif;
    background-color: #EEE7DA;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #AFC8AD;
    border-bottom: 1px solid black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/*----Footer----*/

.footmenu {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ccc5b8;
}

.footerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerItem {
    padding: 1rem;
}

.footerItem img {
    border: 1px solid black;
    border-radius: 4px;
}

/*----Navigation buttons----*/

.navButton {
    cursor: pointer;
    text-decoration: none;
    border: transparent;
    padding: 1rem;
    width: 12rem;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #AFC8AD;
}

.navButton:hover {
    background-color: #88AB8E;
}

.navButton:active {
    background-color: darkseagreen;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.secondaryBox {display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #fff;
    z-index: 2;
}

.secondaryBoxContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#proBox {
    background-color: #ccc5b8;
}

.fishBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.fishItem a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
}

.fishItem a:hover {
    font-weight: normal;
}

#proBox .secondaryBoxContent {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.fishItem img {
    display: block;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
}

/*----Close buttons----*/

.closeButton {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #AFC8AD;
}

.closeButton:hover {
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.closeButton:active {
    background-color: darkolivegreen;
}

/*----Fishes----*/

.fishItem {
    margin-bottom: 1rem;
}

/*----Map----*/

.flexmap {
  display: flex;
}

.destMap {
    padding-bottom: 20px;
}

.flexbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    padding-bottom: 20px;
}

.button1 {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 52px;
    width: 250px;
    background-color: #AFC8AD;
}

.button1:active {
    background-color: darkolivegreen;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.button2 {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 52px;
    width: 250px;
    background-color: #AFC8AD;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.button2:active {
    background-color: darkolivegreen;
}

.button3 {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 52px;
    width: 250px;
    background-color: #AFC8AD;
}

.button3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.button3:active {
    background-color: darkolivegreen;
}

.button4 {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 52px;
    width: 250px;
    background-color: #AFC8AD;
}

.button4:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.button4:active {
    background-color: darkolivegreen;
}

.button5 {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 52px;
    width: 250px;
    background-color: #AFC8AD;
}

.button5:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.button5:active {
    background-color: darkolivegreen;
}

.itemBox{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.buyButton{
    margin : 5px 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #AFC8AD;
}
.buyButton:hover {
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
  background-color: #88AB8E;
}

.buyButton:active {
    background-color: darkolivegreen;
}